$breakpoint-desktop: 922px;
$breakpoint-desktop-lg: 1200px;
$primary-color: rgba(255,153,0,1);
$secondary-color: rgba(94,9,179,1);
$text-primary: #232323;
$text-secondary: #fafafa;

.page-body {
  background-color: #ffffff;
  flex-grow: 1;
  text-align: center;
  color: $text-primary;
  h2 {
    font-size: 3rem;
  }
}

.btn {
  border-radius: 10rem;
  padding: 1rem;
  text-decoration: none;
  transition: 0.5s;
  margin: 1rem;
  &.btn-cta {
    color: $text-primary;
    background-color: $text-secondary;
    border: 1px solid $text-secondary;
    &:hover {
      //background-color: darken($text-secondary, 10%);
      background-color: transparent;
      color: $text-secondary;
    }
  }
}
